body{
    color: rgba(9, 11, 5, 0.345);
}

h1 {
    color: #9fc2f8 ; 
    font-size: 45px;

}
h2{ 
    color: #9fc2f8 ; 
    font-size: 30px;    
}
h3{ 
    color: #9fc2f8 ; 
    font-size: 30px;  
}
h4{
    color: #9fc2f8 ; 
    font-size: 30px;  
}
h5{
    color: #9fc2f8 ;
    font-size: 30px;  
}
p {
    color: white; 
    font-size: 20px;
}
l{ 
    color:#e5cb5a;
}
a{ 
    color: red; 
}
m{
color: rgb(39, 222, 3);
    font-size: 30px;
}
